.BoardBottomGutter, .BoardTopGutter {
    width: 100%;
    height: 1.5rem;
    padding-left: 2rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
}

.BoardTopGutter {
    align-items: flex-end;
}

.BoardBottomGutter {
    align-items: start;
}

.PlayerName {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}

.LostPieces img {
    width: 3rem;
    height: 3rem;
    margin-left: -0.5rem;
}