.BoardFrame {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.Board {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1;
    border: 8px solid white;
    /* height computed in Board.tsx */

}