.BoardLeftGutter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 75vh;
}

.Resign {
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}