.BoardLeftGutter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 75vh;
}

.LeftGutter-Bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}