.Clock {
    width: 6rem;
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.WhiteClock {
    background-color: #ddd;
    color: black;
}

.BlackClock {
    background-color: black;
    color: white;
}