.Tile {
    position: relative;
    width: 12.5%;
    height: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Tile.Interactable {
    cursor: pointer;
}

.Tile.DarkSquare {
    background-color: #203b58;
}

.Tile.LightSquare {
    background-color: #669cd5;
}

.Tile.DarkSquare.Selected {
    background-color: #3c5978;
}

.Tile.LightSquare.Selected {
    background-color: #a1c4e9;
}

.Tile.Selected {
    border: solid orange 4px;
}


.Tile svg, .Tile img {
    width: 100%;
    height: 100%;
    padding: 2.5%;
    fill: white;
    user-select: none;
    position: absolute;
    z-index: 15;
}

.Tile .BlackPawn,
.Tile .BlackRook,
.Tile .BlackKnight,
.Tile .BlackBishop,
.Tile .BlackQueen,
.Tile .BlackKing {
    fill: black;
}

.Tile.Checked img {
    background: radial-gradient(circle, rgba(255,0,0,1) 0%, rgba(255,0,0,0) 100%);
}

.Tile .TileDot {
    width: 25%;
    height: 25%;
    background-color: white;
    position: absolute;
    z-index: 18;
    opacity: 50%;
    border-radius: 20%;
}

.Tile .Highlight {
    position: absolute;
    z-index: 12;
    width: 100%;
    height: 100%;
}

.Tile .Highlight.LastMoveStart {
    opacity: 20%;
    background-color: orange;
}

.Tile .Highlight.LastMoveEnd {
    opacity: 50%;
    background-color: orange;
}

#AnimatedTile, #DraggingTile{
    position: absolute;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

#DraggingTile Img {
    user-select: none;
}