.PlayButton {
    background: rgb(255, 255, 255, 0.25);
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    width: 180px;
    padding: 5px 0;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.PlayButton:hover {
    background: rgb(255, 255, 255, .5);
}

.CancelMatchmakingButton {
    width: 10vw;
    height: 3vw;
    border-radius: .25vw;
    background: #888;
    border-bottom: 2px solid #555;
    border-right: 2px solid #555;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    font-size: 1.5rem;
    color: #333;
    font-weight: 800;
    cursor: pointer;
}